#myChartFront {
  height: 25vh !important;
  @media(max-width: 899px ){
    height: 30vh !important;
  }
}
#myChartBack {
  height: 25vh !important;
  @media(max-width: 899px ){
    height: 30vh !important;
  }
}
#myChartAutres{
  height: 25vh !important;
  @media(max-width: 899px ){
    height: 30vh !important;
  }
}
