
.footer-card {
  .fa-cog, .fa-desktop {
    @media(max-width: 899px){
      display: none;
    }
  }

  @media(min-width: 900px){
    border-top: 3px solid $secondary-color;
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    margin-top: 3em;
  }
  @media(max-width: 899px){
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0; right: 0; bottom: 0;
    padding: 1.5em;
    background-color: $secondary-color;
    font-size: 0.7em;
  }
}
