$text-color: black;
$secondary-color: rgb(99, 72, 43);
$end-gradient-nav: rgb(140, 123, 252);
$grid-bg: rgb(244, 245, 249);
$footer-background: rgb(40, 46, 76);
$footer-input: rgb(46, 53, 87);
$footer-logo: rgb(166, 173, 208);

$font-size-large : 20px;
$font-size-medium : 18px;
$font-size-small : 14px;
